<a class="logo {{ cssMix }}" href="{{ logo.href }}" {{ 'aria-current="page"' if page === 'index' }}>
	<img src="{{ logo.src }}" alt="{{ logo.alt }}" width="{{ logo.width }}" height="{{ logo.height }}">
</a>
