<label class="checker {{ cssMix }}">
	<input
		class="checker__input"
		name="{{ name }}"
		type="{{ type }}"
		value="{{ value }}"
		{{ 'checked' if checked }}
		{{ 'disabled' if disabled }}
	/>
	<span class="checker__label">
		{{ label }}
	</span>
</label>
