<label class="checker {{ cssMix }}">
	<input
		class="checker__input visually-hidden"
		name="{{ name }}"
		type="{{ type }}"
		value="{{ value }}"
		{{ "checked" if checked }}
		{{ "disabled" if disabled }}
	/>
	<span class="checker__label checker__label--{{ type }}">
		{{ label }}
	</span>
</label>
