.cart {
	color: var(--color-white);
	background-color: var(--color-black);
}

.cart__item {
	display: grid;
	grid-template-columns: 1fr 16px;
	gap: 20px 40px;
	padding: 20px;

	& + & {
		border-top: 1px solid var(--color-black-10);
	}
}

.cart__link {
	display: grid;
	grid-template-columns: 39px 1fr;
	gap: 23px;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
}

.cart__image {
	order: -1;
}

.cart__remover {
	width: 16px;
	height: 16px;
	background-color: currentColor;
	mask-image: url("../images/sprite.min.svg#cross");
}

.cart__params {
	display: flex;
	justify-content: space-between;
	padding: 14px 20px;
	background-color: var(--color-dark);
}

.cart__value {
	display: inline;
	margin: 0;
	font-size: 16px;
	line-height: 20px;
}
