@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: "Rubik";
	font-display: swap;
	src: local("Rubik"), url("../fonts/rubik-400.woff2") format("woff2");
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: "Rubik";
	font-display: swap;
	src: local("Rubik"), url("../fonts/rubik-700.woff2") format("woff2");
}

@font-face {
	font-weight: 800;
	font-style: normal;
	font-family: "Raleway";
	font-display: swap;
	src: local("Raleway"), url("../fonts/raleway-800.woff2") format("woff2");
}
