html {
	--color-base: #000000;
	--color-contrast: #ffffff;
	--color-contrast-30: rgba(255, 255, 255, 0.3);
	min-width: 320px;
	overflow-y: scroll;
	overflow-anchor: none;
	scroll-behavior: smooth;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
}

a,
button,
input,
select,
textarea {
	font-family: inherit;
	transition-property: color, opacity, background-color, border-color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	&:disabled {
		cursor: not-allowed;
	}
}

a {
	text-decoration-skip-ink: none;
	color: inherit;
}

button {
	color: inherit;
	border: none;
}

/* По большей части эти свойства не нужны */
/* Списки для контентных блоков будут сделаны исходя из дизайна проекта */
ul,
ol {
	padding: 0;
	list-style: none;
}

input {
	box-sizing: border-box;
	font: inherit;
	border: none;
	-webkit-text-fill-color: currentColor;
	box-shadow: none;

	&[type="number"] {
		appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
		}
	}

	&:-webkit-autofill {
		box-shadow: none;
	}

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}

	&::placeholder {
		color: inherit;
		opacity: 0.6;
	}
}

textarea {
	overflow: auto;
	resize: vertical;
}

img {
	max-width: 100%;
	object-fit: contain;
}

svg {
	fill: currentColor;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

wbr::after {
	content: "\A";
	white-space: pre;
}

:focus {
	outline: var(--focus-outline);

	@supports selector(&-visible) {
		outline: none;
	}

	&-visible {
		outline: var(--focus-outline);
	}
}
