.page-header {
	position: relative;
	display: grid;
	grid-template-columns: 518px 1fr;
	gap: 30px 0;
	align-items: start;
	padding-top: 44px;
	padding-bottom: 20px;
	background-color: var(--color-yellow-light);
	border-top: 40px solid var(--color-white);
}

.page-header__logo {
	position: absolute;
	top: -22px;
	left: 60px;
}

.page-header__user-nav {
	justify-content: flex-end;
	margin: -20px 0 0 10px;
}

.page-header__catalog-nav {
	margin-right: 30px;
}

.page-header__main-nav {
	justify-content: flex-end;
	margin: 0;
}
