<section class="promo {{ cssMix }} {{ 'promo--js' if js else 'promo--nojs' }}">
	<h2 class="visually-hidden">{{ heading }}</h2>

	{% if js %}
		<button
			class="promo__control promo__control--prev"
			type="button"
			aria-label="{{ prevTitle }}"
			data-step="-1"
		></button>
		<button
			class="promo__control promo__control--next"
			type="button"
			aria-label="{{ nextTitle }}"
			data-step="1"
		></button>
	{% endif %}

	<ul class="promo__list">
		{% for slide in list %}
			<li class="promo__item {{ 'promo__item--active' if not js or not loop.index0 }}">
				<h3 class="visually-hidden">{{ slide.heading }}</h3>

				{% with slide.image | setProp("cssMix", "promo__image") %}
					{% include getComponentPath("picture") %}
				{% endwith %}

				<div class="promo__content">
					<b class="heading promo__lead">{{ slide.lead }}</b>
					<div class="content">
						{{ slide.content }}
					</div>

					<div class="promo__footer">
						<a class="button promo__button" href="{{ detailsHref }}">{{ detailsTitle }}</a>

						<dl class="promo__params">
							{% for param in slide.params %}
								<div class="promo__param {{ 'promo__param--spaced' if loop.length > 2 }}">
									<dt class="promo__key">{{ param.key }}</dt>
									<dd class="promo__value">{{ param.value }}</dd>
								</div>
							{% endfor %}
						</dl>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>

	{% if js %}
		<ul class="promo__dots">
			{% for i in list %}
				<li class="promo__dot">
					<button
						class="promo__dot-link {{ 'promo__dot-link--active' if loop.index == 1 }}"
						type="button"
						data-i="{{ loop.index0 }}"
					>
						<span class="visually-hidden">{{ dotTitle }} {{ loop.index }}</span>
					</button>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</section>
