.section {
	padding-top: 56px;
	padding-bottom: 56px;

	&--alter {
		background-color: var(--color-light);
	}

	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

.section__heading {
	margin: 0;
}
