.main-nav {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}

.main-nav__item {
	margin: 15px 0 15px 46px;
}

.main-nav__link {
	position: relative;
	left: 5px; /* Особенности разреженного шрифта */
	font-weight: 800;
	font-family: var(--font-accent);
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	border-width: 2px;

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}

	&--current {
		padding-bottom: 4px;
		border-bottom: 2px solid;
	}
}
