<ul class="main-nav {{ cssMix }}">
	{% for link in list %}
		<li class="main-nav__item">
			<a class="main-nav__link {{ 'main-nav__link--current' if link.current }}" href="{{ link.href }}">
				{{ link.title }}
			</a>
		</li>
	{% endfor %}
</ul>
