<section class="catalog">
	<div class="centerer catalog__inner">
		<div>
			<h2 class="catalog__heading catalog__heading--aside">{{ filter.heading | punctify(':') }}</h2>

			{% with filter %}
				{% include getComponentPath('filter') %}
			{% endwith %}
		</div>
		<div>
			<div class="catalog__header">
				<h2 class="catalog__heading">{{ sorting.heading | punctify(':') }}</h2>

				{% with sorting %}
					{% include getComponentPath('sorting') %}
				{% endwith %}
			</div>

			<div class="catalog__body">
				<ul class="catalog__list">
					{% for card in list %}
						<li>
							{% with card %}
								{% include getComponentPath('card') %}
							{% endwith %}
						</li>
					{% endfor %}
				</ul>

				<a class="catalog__more" href="{{ moreButton.href }}">{{ moreButton.title }}</a>

				{% with pagination %}
					{% include getComponentPath('pagination') %}
				{% endwith %}
			</div>
		</div>
	</div>
</section>
