.catalog {
	background-color: var(--color-light);
}

.catalog__inner {
	display: grid;
	grid-template-columns: 220px 1fr;
	gap: 40px;
	padding: 20px 0 0 60px;
}

.catalog__header {
	display: grid;
	grid-template-columns: 300px 1fr;
	gap: 40px;
	padding: 0 40px 20px;
}

.catalog__heading {
	margin: 5px 0 0;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	font-family: var(--font-accent);
	letter-spacing: 0.2em;
	text-transform: uppercase;

	&--aside {
		margin-bottom: 58px;
	}
}

.catalog__body {
	padding: 70px 40px 78px;
	background-color: var(--color-white);
}

.catalog__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 44px 40px;
	margin: 0 0 44px;
}

.catalog__more {
	display: block;
	margin-bottom: 44px;
	padding: 15px 30px;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	font-family: var(--font-accent);
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border: 3px solid var(--color-light-gray-alter);

	&:hover {
		border-color: currentColor;
	}

	&:active {
		border-color: currentColor;
		opacity: 0.3;
	}
}
