<section class="catalog">
	<div class="centerer catalog__inner">
		<div>
			<h2 class="catalog__heading catalog__heading--aside">{{ filter.heading | punctify(":") }}</h2>

			{% with filter %}
				{% include getComponentPath("filter") %}
			{% endwith %}
		</div>
		<div>
			<div class="catalog__sorting">
				<h2 class="catalog__heading">{{ sorting.heading | punctify(":") }}</h2>
			</div>

			<div class="catalog__body"></div>
		</div>
	</div>
</section>
